@import "vars";

.h-scrollable-table {
    border-top-left-radius: $table_header_rounding;
    border-top-right-radius: $table_header_rounding;
    overflow-x: auto;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.table {
    border-spacing: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    border-top-left-radius: $table_header_rounding;
    border-top-right-radius: $table_header_rounding;

    td:first-child {
        border-color: $border_gray;
        border-width: 1px 1px 0 1px;
    }

    tr:last-child td {
        &:first-child {
            border: 1px solid $border_gray;
        }

        border-color: $border_gray;
        border-width: 1px 1px 1px 0;
    }

    thead th {
        vertical-align: middle;

        &:first-child {
            border-top-left-radius: $table_header_rounding;
        }

        &:last-child {
            border-top-right-radius: $table_header_rounding;
        }
    }

    th {
        height: 2em;
        color: #FFF;
        background-color: $widget_black;
        border-color: #555;
        border-width: 1px 1px 0 0;
        border-style: solid;
        padding: 4px 10px;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        font-weight: 600;
        font-size: 1.1em;

        &:first-child {
            border-top-left-radius: $table_header_rounding;
        }

        &:last-child {
            border-top-right-radius: $table_header_rounding;
        }
    }

    td {
        border-color: $border_gray;
        border-width: 1px 1px 0 0;
        border-style: solid;
        padding: 7px 5px;
        vertical-align: middle;
        text-align: center;
    }

    // Monkey-patches for awkward table rounding
    tr:not(:first-child) th {
        border-radius: 0;
    }

    tr:last-child th {
        border-bottom-left-radius: $table_header_rounding;
    }

    thead tr th {
        border-bottom-left-radius: 0 !important;
    }
}
